<table class="table">
  <tbody>
    <tr>
      <td>Способ применения</td>
      <td>{{ product.how_to_use }}</td>
    </tr>
      <tr>
      <td>Состав</td>
      <td>{{ product.composition }}</td>
    </tr>
      <tr>
      <td>Рекомендация</td>
      <td>{{ product.recommendation }}</td>
    </tr>
      <tr>
      <td>Условия хранения</td>
      <td>{{ product.storage_conditions }}</td>
    </tr>
      <tr>
      <td>Тара/упаковка</td>
      <td>{{ product.container }}</td>
    </tr>
  </tbody>
</table>
