{% extends 'base.html' %}
{% block content %}
<div class='info-block content flex-column-center'>
    <div class="flex-column-center delivery-info flex-column-center">
        <h3> Доставка</h3>
        <span>Мы осуществляем доставку по всему миру</span>

        <img src="../../media/delivery-icons.png" alt="">

        <span>Доставка оплаченных Заказов по территории России и за рубеж осуществляется по фиксированной стоимости
            по каждому региону согласно Тарифу и оплачивается при оформлении Заказа</span>
        <span>
            Стоимость доставки по регионам России
            <br> ▪ от 350 рублей до 800 рублей
        </span>
        <a href="{% url 'delivery-calculator' %}">узнать стоимость Доставки в свой регион (Клик)</a>
        <span>
            Стоимость доставки по Республике Беларусь
            <br>▪ от* 400 российских рублей
        </span>
        <span>
            Стоимость доставки по Республике Казахстан
            <br>▪ от* 400 российских рублей
        </span>
        <span>
            Стоимость международной доставки
            <br> ▪ 1500 рублей
        </span>
        <span>
            Курьерская Доставка только по городу Краснодар
            <br> ▪ 200 рублей
        </span>
        <span>
            * стоимость Доставки изменяется от конкретно выбранного населенного пункта
        </span>

    </div>
    <div class="payment-info flex-column-center">
        <h3> Оплата покупки и услуг</h3>
        <span>Банковской картой <br> Яндекс Деньги <br> Qiwi Кошелек</span>
        <span style="color: #8B004E">Без комиссии</span>
        <span> *Для оплаты подходят: Visa, Mastercard, Maestro, Мир, American Express, Diners Club и JCB</span>
        <img src="../../media/payment-icons.png" alt="">
    </div>
    <div class="lead-time-info flex-column-center">
        <h3>Обработка Заказа и сроки выполнения</h3>
        <span>
            После оплаты Ваш Заказ обрабатывается, комплектуется и уходит на доставку*,
            о чем Вы получаете соответствующие уведомления на адрес электронной почтыуказанной Вами при Заказе
        </span>
        <span>
            Срок обработки и комплектации Заказа составит
            <br><span style="font-weight: 600">не более трех рабочих дней с момента оплаты</span>
        </span>
        <span style="color: #8B004E">
            Обращаем Ваше внимание, что Заказы,
            оплаченные после 14.00 дня, проходят обработку на следующий рабочий день после оформления Заказа
        </span>
        <span>
            *Доставка осуществляется выбранным Вами сторонним сервисом доставки из предложенных при оформлении Заказа.
        </span>
    </div>
</div>
{% endblock %}