
<div class="filter-block">
    <form action="{{category.get_absolute_url}}" method="get">
        <h3 class="text-black-title">Тип волос</h3>
        <ul class="checkbox-list">
            {% for hair_type in filter_typehair %}
                <li class="flex-row-start flex-nowrap">
                    <input type="checkbox" class="checked" name="type_skin" value="{{ hair_type.id }}">
                    <span class="span editContent">{{ hair_type.title }}</span>
                </li>
            {% endfor %}
        </ul>

        <h3 class="text-black-title">Проблема</h3>
        <ul class="checkbox-list">
            {% for problems in filter_hair_problem %}
                <li class="flex-row-start">
                    <input type="checkbox" class="checked" name="size" value="{{ problems.id }}">
                    <span class="span editContent">{{ problems.title }}</span>
                </li>
            {% endfor %}
        </ul>

         <h3 class="text-black-title">Серия</h3>
        <ul class="checkbox-list">
            {% for seria in filter_hair_series %}
                <li class="flex-row-start">
                    <input type="checkbox" class="checked" name="series" value="{{ seria.id }}">
                    <span class="span editContent">{{ seria.title }}</span>
                </li>
            {% endfor %}
        </ul>

        <button type="submit" class="green-button ">
            Применить
        </button>
    </form>

</div>