

<div class="cruelty-chemistry-plank flex-column-center">

    <div class="text-black-title">
        продукция AIVA COSMETICS:
    </div>

    <div class="flex-row-center">
        <div class="flex-row-align-center margin-20">
            <img src="../../media/no-cruelty.png" alt="" class="margin-20">
            не тестируется на животных
        </div>

        <div class="flex-row-align-center margin-20">
            <img src="../../media/no-chemistry.png" alt="" class="margin-20">
            не содержит гормонов и антибиотиков
        </div>
    </div>


</div>
